aiofiles==24.1.0
fastapi==0.115.12
gTTS==2.5.4
numpy==2.2.4
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
Pillow==11.2.1
pydantic==2.11.3
pygame==2.6.1
pytesseract==0.3.13
pyttsx3==2.98
Requests==2.32.3
torch==2.2.0+cu121
torchvision==0.17.0+cu121
uvicorn==0.34.1
